<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!-- <property name="connection.url">jdbc:h2://localhost:5432/hibernate</property> -->
        <property name="connection.url">jdbc:h2:E:\LiliK\_Sfedu\4\IdeaProjects\Hibernate\src\main\resources\jdbc\myDB</property>
        <property name="connection.username">testuser</property>
        <property name="connection.password">12345678</property>
        <property name="connection.pool_size">10</property>
        <!-- SQL диалект, определяется платформой СУБД-->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Включить автоматическое управление контекстом сессии -->
        <property name="current_session_context_class">thread</property>
        <!-- Отключение кеша второго уровня -->
        <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="ru.sfedu.hibernate.lab2.model.TestEntity"/>

        <mapping class="ru.sfedu.hibernate.lab3.MappedSuperclass.model.Employee"/>
        <mapping class="ru.sfedu.hibernate.lab3.MappedSuperclass.model.Author"/>
        <mapping class="ru.sfedu.hibernate.lab3.MappedSuperclass.model.People"/>
        <mapping class="ru.sfedu.hibernate.lab3.TablePerClass.model.Employee"/>
        <mapping class="ru.sfedu.hibernate.lab3.TablePerClass.model.Author"/>
        <mapping class="ru.sfedu.hibernate.lab3.TablePerClass.model.People"/>
        <mapping class="ru.sfedu.hibernate.lab3.JoinedTable.model.People"/>

        <mapping class="ru.sfedu.hibernate.lab4.model.set.PriceParameters"/>
        <mapping class="ru.sfedu.hibernate.lab4.model.list.PriceParametersList"/>
        <mapping class="ru.sfedu.hibernate.lab4.model.map.PriceParametersMap"/>
        <mapping class="ru.sfedu.hibernate.lab4.model.collection.PriceParametersCollection"/>
        <mapping class="ru.sfedu.hibernate.lab4.model.collection.CoverPrice"/>
    </session-factory>
</hibernate-configuration>
